# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# Virtual environments
venv/
env/
.venv/
ENV/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================

# =========================


# =========================
# Hugging Face Cache
# =========================
.cache/
h
